@border-thin: 1px solid black;
@border-med: 2px solid black;
@border-thicc: 3px solid black;

/* Applies to <app-virtual-keyboard> element. */
:host {
    margin: 10px 0  50px 0;
}

:host {

    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;

    .row {
        flex-direction: row;
        justify-content: flex-end;
    }
}

/* Row buttons */
.row > :not(.tab) {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 75px;
    aspect-ratio: 1 / 1;

    border: @border-med;
    border-radius: 15px;

    padding: 5px;
    margin: 10px 2px 0 2px;

    font-weight: 700;
    font-size: 20px;
}

.tab {
    padding: 7px 40px 7px 40px;

    border: @border-thin;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top-left-radius: 10px;

    transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);

    background: none;
}

.tab::after {
    content: "";
    
    border-bottom: @border-thin;
    border-right: @border-thin;
    border-bottom-right-radius: 8px;

    position: absolute;
    bottom: -1px;
    height: 25px;
    width: 6px;
    left: -7px;
    
}

.tab-text {
    transform: skew(30deg);
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
}