/* Applies to <app-virtual-keyboard> element. */
:host {
    /* TODO force keyboard to bottom of screen */
    margin-top: 30px;
}

:host {

    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;

    .row {
        flex-direction: row;
        justify-content: flex-end;
    }
}

.row > :not(.tab) {
    border: 1px solid gray;
    height: 50px;
    aspect-ratio: 1 / 1;
    padding: 10px;
    margin: 10px 2px 0 2px;
    border-radius: 15px;
}

.tab {
    border: 1px solid black;
    border-bottom: none;
    transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    padding: 7px 40px 7px 40px;
}

.tab-text {
    transform: skew(30deg);
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
}