<div class="row">
    <button class="tab">
        <div class="tab-text">X</div>
    </button>
    <button class="tab">
        <div class="tab-text">Y</div>
    </button>
    <button class="tab">
        <div class="tab-text">Z</div>
    </button>
</div>
<div class="row">
    <button class="chord-key" (click)="keyAdapter($event)">1</button>
    <button class="chord-key" (click)="keyAdapter($event)">2</button>
    <button class="chord-key" (click)="keyAdapter($event)">3</button>
    <button class="chord-key" (click)="keyAdapter($event)">4</button>
    <button class="chord-key" (click)="keyAdapter($event)">5</button>
    <button class="chord-key" (click)="keyAdapter($event)">6</button>
    <button class="chord-key" (click)="keyAdapter($event)">7</button>
</div>
<div class="row">
    <button class="quality-key" (click)="keyAdapter($event)">q</button>
    <button class="quality-key" (click)="keyAdapter($event)">w</button>
    <button class="quality-key" (click)="keyAdapter($event)">e</button>
    <button class="quality-key" (click)="keyAdapter($event)">r</button>
</div>
