<div class="row">
    <button class="tab">
        <div class="tab-text">X</div>
    </button>
    <button class="tab">
        <div class="tab-text">Y</div>
    </button>
    <button class="tab">
        <div class="tab-text">Z</div>
    </button>
</div>
<div class="row">
    <button class="chord-key">I</button>
    <button class="chord-key">II</button>
    <button class="chord-key">III</button>
    <button class="chord-key">IV</button>
    <button class="chord-key">V</button>
    <button class="chord-key">VI</button>
    <button class="chord-key">VII</button>
</div>
<div class="row">
    <button class="quality-key">Dim</button>
    <button class="quality-key">Min</button>
    <button class="quality-key">Maj</button>
    <button class="quality-key">Aug</button>
</div>
