<div class="row">
    <button class="tab">
        <div class="tab-text">X</div>
    </button>
    <button class="tab">
        <div class="tab-text">Y</div>
    </button>
    <button class="tab">
        <div class="tab-text">Z</div>
    </button>
</div>
<div class="row">
    <button class="chord-key" (click)="keyAdapter($event)">I</button>
    <button class="chord-key" (click)="keyAdapter($event)">II</button>
    <button class="chord-key" (click)="keyAdapter($event)">III</button>
    <button class="chord-key" (click)="keyAdapter($event)">IV</button>
    <button class="chord-key" (click)="keyAdapter($event)">V</button>
    <button class="chord-key" (click)="keyAdapter($event)">VI</button>
    <button class="chord-key" (click)="keyAdapter($event)">VII</button>
</div>
<div class="row">
    <button class="quality-key" (click)="keyAdapter($event)">Dim</button>
    <button class="quality-key" (click)="keyAdapter($event)">Min</button>
    <button class="quality-key" (click)="keyAdapter($event)">Maj</button>
    <button class="quality-key" (click)="keyAdapter($event)">Aug</button>
</div>
