app-chord-input {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

app-game-manager {
    width: 100%;
    height: 100%;
}

.game-display {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 700px){
    .game-display {
        width: 80%;
    }
}

@media screen and (min-width: 1200px){
    .game-display {
        width: 60%;
    }
}

@media screen and (min-width: 1500px){
    .game-display {
        width: 40%;
    }
}